{% extends "TicketingBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {% trans %}Réservation{% endtrans %}
{% endblock %}

{% block content %}



    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message |trans }}</div>
    {% endfor %}

    <div id="openDaysInformationMessage">
        <h2>{% trans %}Information{% endtrans %}</h2>
        <p>{% trans %}Le musée du Louvre est ouvert tous les jours sauf :{% endtrans %} <br>{% trans %}les mardis, dimanches et jours fériés.{% endtrans %}</p>
    </div>

    <div id="PricesInformationMessage">
        <h2>{% trans %}Tarifications{% endtrans %}</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>{% trans %}Tarif normal :{% endtrans %} </strong> 16€  {% trans %}(à partir de 12 ans){% endtrans %}</li>
            <li class="list-group-item"><strong>{% trans %}Tarif enfant :{% endtrans %} </strong> 8 €  {% trans %}(pour les 4 à 12 ans){% endtrans %}</li>
            <li class="list-group-item"><strong>{% trans %}Tarif sénior :{% endtrans %} </strong> 12€ {% trans %}(à partir de 60 ans){% endtrans %}</li>
            <li class="list-group-item"><strong>{% trans %}Tarif réduit :{% endtrans %} </strong> 10€ {% trans %}(étudiants, employés du musée, militaires){% endtrans %}</li>
            <li class="list-group-item"><strong>{% trans %}Billet demi-journée :{% endtrans %} </strong> 10€ </li>
            <li class="list-group-item"><em>{% trans %}Gratuit pour les moins de 4 ans{% endtrans %}</em></li>
        </ul>
    </div>

    <div id="ticketsQtyMessageWarning" class="alert alert-warning text-center" style="display:none">{% trans %}Veuillez choisir une quantité de billet positive{% endtrans %}</div>
    <div id="ticketsQtyMessageInfo" class="alert alert-info text-center" style="display:none"><p><strong>{% trans %}Info stock :{% endtrans %} </strong> {% trans %}il reste suffisament de billets pour votre commande pour la date choisie.{% endtrans %}</p></div>
    <div id="resetTicketsMessageWarning" class="alert alert-warning text-center" style="display:none"><strong>{% trans %}Attention :{% endtrans %} </strong> {% trans %}modifier la quantité de tickets réinitialise les données.{% endtrans %}</div>

    <div id="loadingSpinner" style="display:none;margin-bottom:10px">
        <button class="btn btn-sm btn-warning">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {% trans %}Vérification disponibilité...{% endtrans %}
        </button>
    </div>

    {{ include("TicketingBundle:Forms:orderTypeForm.html.twig") }}



{% endblock %}