{% extends "base.html.twig" %}

{% block content %}
    <p>
        {{ ticketing_error_error404Message }}<a href="{{ path('ticketing_booking') }}">{{ ticketing_error_backHome }}</a>.
    </p>
{% endblock %}