{% extends "base.html.twig" %}

{% block content %}
    <h1>{% trans %}ticketing.error.pageNotFound{% endtrans %}</h1>

    <p>
        {% trans %}ticketing.error.error404Message{% endtrans %}  <a href="{{ path('ticketing_booking') }}">{% trans %}ticketing.error.backHome{% endtrans %}</a>.
    </p>
{% endblock %}