@media screen and (max-width: 800px){
    .form-group{
        display:block;
    }
}

@media screen and (min-width: 800px){
    .form-group{
        display:inline-block;
        margin:5px;
    }
}

label.required:after {
    content: " *";
    color: #c12e2a;
}

.form-control[readonly]{
    cursor:auto;
    background-color:white;
    opacity:1;
}

hr{
    border-top: 1px solid #e3e3e3
}



/*Top-banner */
.thumbnail {
    position: relative;
    border:0px;
}

.caption {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
}

#welcome-text{
    color:white;
    font-size:2.5em;
}

@media screen and (max-width: 500px){
    #welcome-text {
        display: none;
    }

}

@media screen and (max-width: 800px){
    #welcome-text{
        font-size:1.5em;
    }
}

.reducedPrice:hover{
    content:'test';
}

/*Messages d'information*/

#openDaysInformationMessage{

}

#PricesInformationMessage{
    display:none;
}

/*Formular*/

#validate-btn{
    display:none;
}

/*Loading spinner*/
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/*Paiement page*/

#orderSummary{
    margin-top:30px;
}

#ticketsSummary{
    margin-bottom:30px;
}

#totalSummary{
    margin-bottom:30px
}
